.log{
    border: 3px solid rgba(96, 11, 231, 0.404);
    margin: 100px;
    padding-left: 50px;
    padding-bottom: 25px;
    border-radius: 40px;
    background-color:rgba(50, 211, 18, 0.185)
}
h1{
    font-size: 30px;
    color: rgb(219, 11, 150);
}
#submit{
    border: 3px solid rgb(228, 22, 166);
    margin-left: 390px;
    
}